*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear


# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/*
target/

# Gradle
.gradle/

log-management/docker-log-management/grafana/tmp
log-management/docker-log-management/prometheus/tmp
log-management/docker-log-management/alert-manager/tmp